@font-face {
  font-family: "Space Mono";
  src: url("/public/fonts/SpaceMono-Regular.ttf") format("tff");
}

:root {
  --font-main: "Space Mono", helvetica, monospace;
  --main-accent: #ffcc00;
  --lh: 1.4rem;
}
