@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
}
/* ../public/fonts/SpaceMono-Regular.ttf */
:root {
  --font-main: "Space Mono", helvetica, monospace;
  --main-accent: #ffcc00;
  --lh: 1.4rem;
}
