<article id="detail">
  <section>
    <img src="<%= key.attribute.posterImage.small %>" alt="">
    <p><%= key.attributes.titles.en_jp %></p>
  </section>
  <section>
    <p><%= key.attribute.description %></p>
    <p><%= key.attribute.startDate %></p>
  </section>
<a id="button" href="/"><span>Back</span></a>
</article>